# --- OS-specific files ---
.DS_Store
Thumbs.db

# --- Environment variables (SENSITIVE) ---
.env
*.key
credentials.json

# --- Programming Language Dependencies ---
node_modules/
venv/
env/
__pycache__/
*.pyc

# --- Build Artifacts ---
dist/
build/
out/
*.exe
*.log

# --- Editor/IDE specific ---
.vscode/
.idea/
*.swp
